
  .clearboth{
    clear: both;
    display: table;
    content:"";
} 
body{
  background: #fff;
}
.main2{
  width:521px;
  margin:0 auto;
  padding:0;
}
#phone,#uname,#upwd,#cpwd{
  width:330px;
  outline: none;
  color: #ff6f4a;
  height: 52px;
  border-radius: 5px;
  margin:0 6px 10px;
  padding: 0;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun;
} 
#yzm{
  width:127px;
  height:52px;
  border-radius: 5px;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun;
  margin:0 6px 10px;
}

#zc{
  background:lightgrey;
  width:337px;
  height:52px;
  margin-left:97px;
  font-size:26px;
}    
#yz2{
  width:80px;
  height:60px;
  margin-left:13px;
}
#yz1{
  background:#4efeb3;
  font-size:20px;
  width:105px;
  height:52px;
  line-height: 52px;
}
#dyzm,#hq{
  width:162px;
  height:52px;
  margin:0 0 0 6px;
  border-radius:5px;
  margin-bottom:10px;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun;
}

#showPhone,#showDyzm,#showUname,#showUpwd,#showCpwd{
  background:#FFD2D2;
  position:absolute;
  display:inline-block;
  height:54px;
  word-wrap: break-word;
  line-height: 54px;
  width:160px;
  font-size:14px;
  padding:0 10px;
  background: #ffd9ec;
  color: #ff6f4a;
}
#d1,#d2,#d3,#d4,#d5,#d6{
  font-weight:bold;
  font-size:16px;
  text-align:right;
  display:inline-block;
  width:96px;
  height:21px;
  color: darkgray;
}
#cart{
  margin:10px 0 0 100px;
  border:none;
  vertical-align:middle;
}
#d7{
  text-align:center;
  font-weight:normal;
  font: 12px 'Microsoft Yahei',Tahoma,Simsun;
  margin-top:31px;
  
}
#dl{
  text-decoration:none;
  font-weight:bold;
  font-size:20px;
  color:#427fd2;
  font-size:16px;
  float:right;
  margin-right: 206px;
}
#yy{
  color:#666;
  font-size:14px;
  float:right;
}
#hr{
  margin:0 auto;
}
#d8{
  line-height:76px;
}
#d9{
  text-decoration:none;
}




/*显示隐藏*/
*{
  margin:0;
  padding: 0;
}
#tab li,#tab1 li{
  float: left; 
  list-style: none;
  width: 165px;
  text-align: center;
}
#tab li a, #tab1 li a{
  display:inline-block;
  text-decoration:none;
  width: 80px; height: 40px;
  line-height: 40px;
  text-align: center;
  color:#000;
}
.cover{
  background: url("../img/shopping/3.jpg") no-repeat center;
  height:590px;
}
#container,#container1{
  position: relative;
}
.tabs{
  width: 460px;
  margin-left: 15px;
  background: #fff;
}
#tab,#tab1{
  margin: 0 auto;
  margin-right: 14px;
  color: #333333; 
  font-size: 18px;
  font-family: "Microsoft YaHei";
}
#content1,#content3,#content5,#content6{
  position: absolute;
  left: 0;
  width: 550px;
  height: 500px;
}
#tab li:first-child,#content1{
  background-color: #fff;
}
#tab1 li:first-child,#content6{
  background-color: #fff;
}
#tab li:first-child+li,#content3{
  background-color: #fff;
  text-align: center;
  
}
#tab1 li:first-child+li,#content5{
  background-color: #fff;
  text-align: center;
}
input{
  border: 1px solid #edcda8;
}
#content2{
  position: absolute;
  left: 0px;
  width: 522px;
  height: 500px;
  background: #fff;
  border: 1px solid red;
}