body{
	margin:0 auto;
	padding:0;
	font-family: 'Microsoft YaHei',arial,sans-serif;
	background-color: #fff !important; 
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
}
h1,h3,p{
	margin:0;
	padding:0;
	font-weight: 500;
}
.float_left{
    float:left;
}
.float_right{
    float:right;
}

.clearboth:after{
    clear: both;
    display: table;
    content:"";
}
.p_relative{
    position:relative;
}
.p_absolute{
    position:absolute;
}
.header,.circle,.products-list{
	width: 1240px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
}
.circle img{
	width: 1240px;
	height: 460px; 
}
.header-r{
	margin-top: 24px;
	color: #868686;
    font-size: 14px;
}
.login_hidden{
	width: 100px;
	height: 0;
	overflow: hidden;
}
.header-r a{
    color: #666666;
    font-size: 12px;
    font-family: "SimSun";
    padding: 0 15px 0 9px;
	background:url("img-header/1.png") no-repeat;
}

.login_hidden{
    top: 24px;
    left: -15px;
    width: 100px;
    height: 0;
    text-align: center;
    background: #ffffff;
    color: #333333;
}
.login_hidden li{
    padding: 7%;
    border-bottom:1px solid #e8e8e8;
    cursor: pointer;
}
.weixin,.weibo{
	top: 35px;
	padding-top: 9px;
	background: #fff;
	left: -48px;
    width: 152px;
	text-align: center;
	box-shadow: 0 0 10px #999;
	display:none;
}
.weixin{
	z-index:-1;
}
.weibo{
	z-index:6;
}

.i-img{
	background:url("img-header/1540042909(1).png") no-repeat;
	display:inline-block;
	width: 20px;
    height: 22px;
    vertical-align: middle;
}
.menu{
	text-align:center;
	position: relative;
}
.outer_menu{
	margin: 0 200px;
}
.div1,.div2,.div3,.div4,.div5,.div6{
	width: 1200px;
	height: 326px;
	border: 1px solid gray;
	background: #fff;
	position:absolute;
	left: -200px;
	display: none;
	padding-top: 26px;
}
.s1:hover .div1,.s2:hover .div2,.s3:hover .div3,.s4:hover .div4,.s5:hover .div5,.s6:hover .div6{
	display: block;
}
.menu ul li{
	display:inline-block;
	padding: 0 34px 0 34px;
	line-height: 36px;
}
.f{
	margin-right: 106px;
}
.f a{
	text-align: left;
	color: #000000;
    font-size: 12px;
}
.f1{
	margin-left: 80px;
}
.f3{
	margin-right: 0;
    width: 700px;
}
.f3 img{
	width: 673px;
}
.Derier{
	color: #999999;
    font-family: 'Microsoft YaHei';
	font-size: 12px;
}
.list ul li{
	float:left;
	padding-right: 20px;
    color: #333;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    margin-right: 40px;
	/*background:url("img-header/downNormal.png") no-repeat right 6px;*/
	height: 34px;
}
.search img{
	height: 260px;
    margin-left: 44px;
}
.search{
	background: #f5f5f5;
    padding-bottom: 20px;
}
.search-div{
	background: #ffffff;
	margin-left: 17px;
    margin-top: 20px;
    width: 386px;
	height: 386px;
	float:left;
}
.products-list .search li{
	display: inline-block;
}
.title{
	font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
    padding: 0 90px;
	text-align: center;
}
.btn{
	margin-top: 20px;
	margin-left: 86px;
}
.btn .btn-price{
	display:inline-block;
	color: #b68d5a;
	width: 120px;
  height: 30px;
  line-height: 30px;
	font-size: 13px;
  font-style: normal;
	border:1px solid #b68d5a;
  text-align:center;
  margin-left: -29px;
}
.btn .btn-pay{
	width: 120px;
    height: 30px;
    line-height: 30px;
    color: #d3ad82;
    font-size: 16px;
    font-style: normal;
	display:inline-block;
	background: #d3ad82;
	color:#fff;
	text-align:center;
}
.btn{	
    width: 240px;
}
.page{
	width: 1000px;
	margin: 18px auto;
	text-align: center;
}
.page ul{
	display: inline-block;
}
.page ul a{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: 1px solid #d3ad82;
	color: #d3ad82;
	line-height: 30px;
	color: #333333;
	padding-top: 1px;
}
.next-page,.last-page{
	width: 60px !important;
}

.series1,.series2,.series3,.series4{
	font-size: 12px;
    color: #333;
    padding-left: 20px;
    width: 1240px;
    padding-top: 20px;
	height: 230px;
	border: 1px solid #DB985D;
	background: rgba(255,255,255,1);
    display: none;
    position: absolute;
    top: 39px;	
    right: 0;
}
.series1 span,.series2 span,.series3 span,.series4 span{
	margin-right: 110px;
	margin-top: 26px;
    display: inline-block;
}
.xl:hover .series1{
	display: block;
}
.x2:hover .series2{
	display: block;
}
.x3:hover .series3{
	display: block;
}
.x4:hover .series4{
	display: block;
}